*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.flex{
display: flex;
}
.font10 {
    font-size: 10px;
}
.btn {

    border: none;
    background: none;
}
.head {
    justify-content: right;
    align-items: center;
    padding-top: 0.5%;
    padding-right: 2.5%;
    gap: 8px;
}
.user-sign {
    align-self: center;
}

.user-sign a {
    padding-bottom: 10%;
}
.logo {
   padding-left: 46.3%;
   padding-top: 1.5%;
}
.underlogo {
    padding-left: 41.5%;
    padding-top: 0.3%;
    align-content: center;
    margin-bottom: 1%;

}

.login {
    padding: 5%;
    
}
.login-header{
    margin-bottom: 15%;
    padding: 1% 9% 0 9%;
    align-content: center;
    color: rgb(78, 68, 68);
}

h3 {
    font-weight: 550;
    font-size: 22px;
    font-family: Verdana, Tahoma, sans-serif;
    margin-bottom: 10%;

}

.input-conf {
    height: 35px;
    width: 333px;
    border: solid 1px rgba(194, 180, 180, 0.904);
    margin-bottom: 9%;
    margin-left: 7%;

}
.font11 {
    font-size: 12px;
}

.formz {
    height: 700px;
    width: 390px;
    background-color: white;
    border: solid 1px rgb(182, 176, 176);
    margin-left: 40%;
    
}

.label {
    margin-left: 7.3%;
    margin-bottom: 2.5%;
}

.btn-create {
    margin-left: 7%;
    margin-top: 10%;
}

.message {
    margin: 8%;
    font-size: 12px;
    font-weight: lighter;
    color: grey;
}
.fontsize5 {
    font-size: 10px;
    font-weight: lighter;
    color: rgb(112, 108, 108);
    margin-bottom: 10%;
    padding-left: 7%;
    padding-top: 2%;
}

.inputt {
    margin-bottom: 0;
}

.foot {
    font-size: 12px;
    text-align: center;
    padding: 2% 30% 1% 30%;
    color: rgb(87, 82, 82);
}